In [1]:
#Data Exploration by Crystal Butler

#Pull in song data from final.csv file
import pandas as pd
csv_data = "Resources/pokemon.csv"

In [2]:
pokemon_df = pd.read_csv(csv_data)

In [4]:
pokemon_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
csv_data2 = "Resources/combats.csv"

In [6]:
battles_df = pd.read_csv(csv_data2)

In [7]:
battles_df.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151